<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="QRCodeDecoderLibrary" version="2.0.1" targetFramework="net48" />
  <package id="QRCodeEncoderLibrary" version="2.0.1" targetFramework="net48" />
  <package id="QrCode.Net" version="0.4.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
</packages>